<div class="bg-footer text-white" >
  <div class="container">
    <div id="footer" class="row p-3">
      <div class="col-12 col-md-6 d-flex">
          <a class="my-auto" href="https://creative.massey.ac.nz/"><img src="{{site.urlimg}}Massey_University.png" class="img-fluid mb-3" style="max-height:100px" alt="Massey University Logo"/></a>
      </div>

      {% for footer_col in site.data.footer %}
      <div class="col-12 col-sm-6 col-md-auto px-4 py-2">

          <h5 class="text-uppercase">{{ footer_col.menu_name }}</h5>

          <ul class="list-unstyled mb-1">
          {% for item in footer_col.items %}
              <li {% if item.class %}class="{{ item.class }}"{% endif %}">
                <a class="text-primary text-decoration-none" href="{{ item.url }}" {% if item.url contains 'http' %}target="_blank" {% endif %} title="{{ item.title }}">{{ item.name }}</a>
              </li>
          {% endfor %}
          </ul>
      </div>
      {% endfor %}

    </div>
  </div>
</div>


<div class="bg-dark text-white">
  <div class="container">
    <div id="subfooter" class="row p-3">
      <div class="col-12 col-md-6">
        <p class="text-muted">
          Made by these <a class="text-primary" href="/credits/" alt="Credits"> awesome people</a>  &hearts;
        </p>
      </div>

      <div class="col-12 col-md-auto social-icons">
        <ul class="list-inline">
        {% for social_item in site.data.socialmedia %}
          <li class="list-inline-item py-2"><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.title }}"></a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
