{% comment %}TODO consider https://developers.google.com/custom-search/docs/element{% endcomment %}
{% capture google_search_site %}/{% endcapture %}
<script language="Javascript" type="text/javascript">
	function google_search() {
		var query = document.getElementById("google-search").value;
		window.open("https://www.google.com/search?q=" + query + "+site:" + "{{ google_search_site | cgi_escape }}");
	}
</script>

<form class="form-inline row" id="search" onsubmit="google_search(); return false;">
	<div class="col-auto pb-md-0">
		<label for="google-search">Didn't find what you were looking for? Try searching: </label>
	</div>
	<div class="col-12 col-md-auto px-md-0">
		<input class="form-control mb-2 mb-sm-0" type="text" id="google-search" placeholder="{{ site.data.language.enter_search_term }}">
		<input  class="btn btn-primary mb-2 mb-sm-0 ml-sm-2" type="submit" value="Search" />
</div>
</form>

<noscript>
	Search <a href="https://www.google.com/search?q=site:{{ google_search_site | cgi_escape }}" target="_blank">Google</a> for:
	<pre><code>search-term site:{{ google_search_site }}</code></pre>
</noscript>
