	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{% if page.meta_title %}{{ page.meta_title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
	<link rel="stylesheet" type="text/css" href="/assets/fonts/iconfont.css">
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/popper.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>

  {% if site.google_site_verification %}<meta name="google-site-verification" content="{{ site.google_site_verification}}" />{% endif %}
{% if site.analytics.enabled %}{% include _google_analytics.html %}{% endif %}
	{% if page.meta_description %}<meta name="description" content="{{ page.meta_description | strip_html | escape }}"/>{% elsif page.teaser %}<meta name="description" content="{{ page.teaser | strip_html | escape }}" />{% elsif site.description %}<meta name="description" content="{{ site.description | strip_html | escape }}" />{% endif %}

	{% if site.google_author %}<link rel="author" href="{{ site.google_author }}"/>{% endif %}

	{% include _favicon.html %}

	<!-- Search Engine Optimization -->
	{% if page.noindex == true %}<meta name="robots" content="noindex" />{% endif %}

	<link type="text/plain" rel="author" href="/humans.txt" />
