<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  {% assign brand = site.data.navigation | where: 'side', 'brand' | first %}
  {% if brand %}
    <a class="navbar-brand text-decoration-none text-capitalize" href="{{brand.url}}">
      {% if brand.image %}
        <img src="{{site.urlimg}}{{brand.image}}" class="pt-1" width="auto" height="50px" alt="{{ brand.title }}" loading="lazy">
      {% else %}
        {{ brand.title }}
      {% endif %}
    </a>
  {% endif %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% assign links = site.data.navigation | where: 'side', 'left' %}
      {% for link in links %}


        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li> -->
        {% comment %}   If left side WITHOUT dropdown menu do   {% endcomment %}
        {% if link.dropdown == nil %}
          <li class="nav-item {% if link.url == page.url %}active{% endif %}">
            <a class="nav-link text-capitalize" href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %} target="_blank"{% endif %}>{{ link.title | escape }}</a>
          </li>
        {% comment %}   If left side WITH dropdown menu do   {% endcomment %}
        {% else %}
          <li class="nav-item dropdown {% if link.url == page.url %} active{% endif %} ">
            <a class="nav-link dropdown-toggle text-capitalize" id="navbarDropdown-{{link.title | slugify }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
               {{ link.title | escape }}
             </a>
            <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown-{{link.title | slugify }}">
              {% for dropdown_link in link.dropdown %}
                {% if dropdown_link.url contains 'http' %}
                  {% assign domain = '' %}
                  {% else %}
                  {% assign domain = site.url %}
                {% endif %}
                <a class="dropdown-item{% if dropdown_link.url == page.url %} active{% endif %} text-capitalize" href="{{ domain }}{{ dropdown_link.url }}"{% if dropdown_link.url contains 'http' %} target="_blank"{% endif %}>{{ dropdown_link.title | escape }}</a>
              {% endfor %}
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <hr/>
    <ul class="navbar-nav mr-2">
      {% assign links = site.data.navigation | where: 'side', 'right' %}
      {% for link in links %}

        {% if link.url contains 'http' %}
          {% assign domain = '' %}
        {% elsif link.url == '#' %}
          {% assign domain = '' %}
        {% else %}
          {% assign domain = site.url %}
        {% endif %}

        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li> -->
        {% comment %}   If left side WITHOUT dropdown menu do   {% endcomment %}
        {% if link.dropdown == nil %}
          <li class="nav-item {% if link.url == page.url %}active{% endif %}">
            <a class="nav-link text-capitalize" href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %} target="_blank"{% endif %}>{{ link.title | escape }}</a>
          </li>
        {% comment %}   If left side WITH dropdown menu do   {% endcomment %}
        {% else %}
          <li class="nav-item dropdown {% if link.url == page.url %} active{% endif %} ">
            <a class="nav-link dropdown-toggle text-capitalize" id="navbarDropdown-{{link.title | slugify }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
               {{ link.title | escape }}
             </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown-{{link.title | slugify }}">
              {% for dropdown_link in link.dropdown %}
                {% if dropdown_link.url contains 'http' %}
                  {% assign domain = '' %}
                {% else %}
                  {% assign domain = site.url %}
                {% endif %}
                <a class="dropdown-item {% if dropdown_link.url == page.url %}active{% endif %} text-capitalize" href="{{ domain }}{{ dropdown_link.url }}"{% if dropdown_link.url contains 'http' %} target="_blank"{% endif %}>{{ dropdown_link.title | escape | capitalize}}</a>
              {% endfor %}
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
