<div id="page-post-nav" class="t30">
	<div id="post-nav" class="row">
		{% if page.previous.url and page.previous.categories == page.categories %}
		<div class="small-5 columns"><a class="button small radius prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a></div><!-- /.small-4.columns -->
		{% endif %}
		{% if page.next.url and page.previous.categories == page.categories %}
		<div class="small-5 columns text-right"><a class="button small radius next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a></div><!-- /.small-4.columns -->
		{% endif %}
	</div>
</div><!--  /.page-meta -->
