{% comment %}
*   This creates a sidebar with a number of different elements
*
*   Possible parameter for this loop:
*
*    › contains (an array with the sidebar elements ie map, contactform)
*    › column_size (the size in columns)
*    › column_size

{% endcomment %}


<div class="col-lg-{{ include.column_size | default: 4 }} col-md-6 col-12">
  <div class="row">
    {% if page.sidebar.contains contains "map" %}
    <div class="col-12 my-2">
      {% include map.html %}
    </div>
    {% endif %}
    {% if page.sidebar.contains contains "contactform" %}
    <div class="col-12 my-2">
      {% include contactform.html %}
    </div>
    {% endif %}
  </div>
</div>
