{% comment %}
*
* This include lets you easily display an alert. To use this include no `.html` ending is necessary.
*
* You can use the following kinds of alerts:
*
*  - primary  (bootstrap built-in)
*  - secondary(bootstrap built-in)
*  - warning  (bootstrap built-in)
*  - info     (bootstrap built-in)
*  - success  (bootstrap built-in)
*  - danger   (bootstrap built-in)
*  - light    (bootstrap built-in)
*  - dark     (bootstrap built-in)
*
*
* You can even use markdown and <html>-tags inside the alert, but beware to use " and ' properly; for example:
*
*     {% include alert.html info='Show an info alert with <b>outstanding</b> <a href="#info">information</a>.' %}
*
*     {% include alert.html info='Show an info alert with *outstanding* [information](#info).' %}
*
*     {% include alert.html info='Show an info alert with *outstanding* <a href="#info">information</a>.' %}
*
* You can also call for additional classes to be put on the alert div:
*
*     {% include alert.html success="Yay! you did it!" classes='round' %}
*
{% endcomment %}
{% for entry in include %}
  {% if entry[0] == 'classes' %}{% continue %}{% endif %}
  <div class="alert alert-{{ entry[0] }} {{ include.classes }}">{{ entry[1] | markdownify }}</div>
{% endfor %}
