<h4> Drop us a line</h4>
<h6 class="text-muted">(if you don't get a 'success' message, try emailing instead)</h6>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<form name="contactform" method="post" action="../send_form_email.php">
  <div class="form-group">
    <label for="contactName">Name</label>
    <input class="form-control" id="contactName" name="name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="contactEmail">Email</label>
    <input class="form-control" id="contactEmail" name="email" type="email" placeholder="Email address">
  </div>
  <div class="form-group">
    <label for="contactMessage">Message</label>
    <textarea class="form-control" id="contactMessage" name="message" placeholder="Your message"></textarea>
  </div>
  <div class="form-group">
    <div class="g-recaptcha" data-sitekey="6Le5aw8UAAAAAPDdht0IVRMXtGkMEXyRECwHIlkF"></div>
    <button class="btn btn-primary" id="submit" name="submit" type="submit" value="Submit">Submit</button>
  </div>

</form>
