{% assign images = include.src | split: ',' %}
{% assign alts = include.alt | split: ',' %}

{% if images.size > 1 %}
  <div class="row">
  {% for image in images %}
    <div class="col-md-{{ include.column_size | default: 4 }} {% if include.force_column_size %}col-{{ include.column_size | default: 4 }}{% else %}col-sm-6 col-12 py-1{% endif %}">
      <img class="img-fluid {{include.classes}}" src="{{site.urlimg}}{{image}}" alt="alts[index]" />
    </div>
    {% endfor %}
  </div>
{% else %}
  <div class="row">
    <div class="col-md-{{ include.column_size | default: 4 }} col-sm-6 col-12">
      <img class="img-fluid {{include.classes}}" src="{{site.urlimg}}{{include.src}}" alt="{{include.alt}}" />
    </div>
  </div>
{% endif %}
