{% comment %}
*   This creates a list of each page in a category sorted by order and filtered by tag!
*
*   Possible parameter for this loop:
*
*    › category - This can be a data yaml filename or a page category (or both)
*    › tag
*    › column_size

{% endcomment %}


{% assign pages = site.pages | where: "categories", include.category | where: "tag", include.tag | sort:"order" %}
{% assign data = site.data.[include.category] | where: "tag", include.tag | concat: pages %}



<div class="row">
  {% for entry in data %}
    <div class="col-md-{{ include.column_size | default: 4 }} col-sm-6 col-12">
    {% comment %}IMAGE{% endcomment %}
    {% if entry.header.image_fullwidth != NULL %}
      {% if entry.url %}
        <a class="more" href="{{ entry.url }}">
      {% endif %}
          <img class="img-fluid" src="{{ site.urlimg }}{% if entry.header.image_preview %}{{entry.header.image_preview}}{% else %}{{entry.header.image_fullwidth}}{% endif %}" alt="{{ entry.title escape_once }}">
      {% if entry.url %}
        </a>
      {% endif %}
    {% endif %}

    {% comment %}HEADER{% endcomment %}
    {% if entry.url %}
      <a class="header text-decoration-none" href="{{ entry.url }}">
    {% endif %}
      {% if entry.subheadline %}
        {{ entry.subheadline }}
      {% endif %}
        <h2>{{ entry.title }}</h2>
    {% if entry.url %}
      </a>
    {% endif %}

    {% comment %}TEASER{% endcomment %}
    {% if entry.teaser %}
      <p>{{ entry.teaser }}</p>
    {% endif %}

    {% comment %}MORE BUTTON{% endcomment %}
    {% if entry.url %}
      <p>
        <a class="btn text-light" style="background-image:url(/assets/img/morebutton_green.svg); background-repeat: no-repeat; padding-top: 5px" href="{{ entry.url }}"><strong>{{ site.data.language.more }}</strong></a>
      </p>
    {% endif %}

    </div>
  {% endfor %}
</div>
