<!-- Begin MailChimp Signup Form -->

<div id="mc_embed_signup" class="my-3">
<form action="//fablabwgtn.us15.list-manage.com/subscribe/post?u=eddd3d395000421057e7cc26b&amp;id=ed934c9dd5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline validate row" target="_blank" novalidate>
	<div class="col-auto pb-md-0 pb-2">
		<label for="mce-EMAIL">Sign up for our quarterly newsletter</label>
	</div>
	<div class="col-12 col-md-auto px-md-0">
		<input type="email" value="" name="EMAIL" class="email form-control mb-2 mb-sm-0" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_eddd3d395000421057e7cc26b_ed934c9dd5" tabindex="-1" value=""></div>
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary mb-2 mb-sm-0 ml-sm-2">
</div>
</form>
</div>

<!--End mc_embed_signup-->
