

<div class="embed-responsive embed-responsive-4by3">
<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2997.397219568757!2d174.77395181542303!3d-41.30022157927239!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d38afdefef2eb99%3A0x9ae0a4a85980dbee!2sFab+Lab+Wellington!5e0!3m2!1sen!2snz!4v1459221297738" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
