---
---
<!doctype html>
<html class="no-js" lang="{% if site.language == nil %}en{% else %}{{ site.language }}{% endif %}">
<head>
	{% include _head.html %}
</head>
<body id="top">
	{% unless page.skip_boilerplate %}
	{% include _navigation.html %}
	{% endunless %}

	{% if page.header.image_fullwidth %}
		<img style="border-radius: 0; object-fit: cover; width:100%; height: 180px; object-position: {{ page.header.position | default: center }}" src="{{ site.urlimg }}/{{ page.header.image_fullwidth}}" alt="{{page.header.image_alt | default: 'page header'}}"/>
	{% endif %}

	<div class="container px-4 px-sm-3 px-md-2">


		{{ content }}


		<div id="up-to-top" class="row">
		  <div class="col text-right">
		    <a style="font-family: iconfont; font-size: 24px; text-decoration: none;" href="#top">&#xf108;</a>
		  </div>
		</div>
	</div>
	{% unless page.skip_boilerplate %}
	{% include _footer.html %}
	{% endunless %}
</body>
</html>
