---
layout: default
---
<div class="row">
	<div class="col">
		{% if page.title or page.subheadline or page.teaser	%}
		<div class="row my-3">
			<div class="col">
				<h1>
					{{ page.title }}
					{% if page.subheadline %}<small class="text-muted">{{ page.subheadline }}</small>{% endif %}
				</h1>

				{% if page.teaser %}
				<h6>
					{{ page.teaser }}
				</h6>
				{% endif %}
			</div>
		</div>
		{% endif %}
		<div class="row">
			<div class="col">
				{{ content }}
			</div>
		</div>

		{% if page.show_post_nav == true %}
		{% include _post_navigation.html %}
		{% endif %}
	</div>
	{% if page.sidebar %}
		{% include _sidebar.html %}
	{% endif %}
</div><!-- /.row -->
